@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Rammetto+One&family=Roboto:wght@100&family=Titan+One&display=swap");

body {
  margin: 0;
  background-color: #e1a524;
}

#my-canvas {
  background-color: lightblue;
}

#start-btn{
  background-color: #e1a524;
  font-family: Rammetto One;
  color: white;
  padding: 20px;
  font-size: 60px;
  margin-top: -330px;
  border-radius: 10px;
}

#restart-btn {
  background-color: #e1a524;
  font-family: Rammetto One;
  color: white;
  padding: 20px;
  font-size: 60px;
  margin-top: 30px;
  border-radius: 10px;
}

#score {
  background-color: white;
  font-family: Rammetto One;
  color: #e1a524;
  padding: 10px;
  font-size: 30px;
  margin-top: 0;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
#splash-screen {
  margin: 0;
}

#my-canvas,
#gameover-screen {
  display: none;
}
