@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Rammetto+One&family=Roboto:wght@100&family=Titan+One&display=swap");

body {
  margin: 0;
  background-color: #e1a524;
}

#my-canvas {
  background-color: lightblue;
}

#gameover-screen{
  margin-top: 0px ;
}

#start-btn{
  background-color: #e1a524;
  font-family: Rammetto One;
  color: white;
  padding: 20px;
  font-size: 60px;
  margin-top: -330px;
  border-radius: 10px;
}

#punctuation{
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
}

#restart-btn {
  background-color: white;
  font-family: Rammetto One;
  color: #e1a524;
  padding: 20px;
  font-size: 60px;
  margin-top: 30px;
  border-radius: 10px;
  border-color: white;
}

#score {
  background-color: white;
  font-family: Rammetto One;
  color: #e1a524;
  padding: 10px;
  font-size: 30px;
  margin-top: 0;
  border-radius: 10px;
  margin-right: 20px;
}

#lifes {
  background-color: white;
  font-family: Rammetto One;
  color: #e1a524;
  padding: 10px;
  font-size: 30px;
  margin-top: 0;
  border-radius: 10px;
  margin-left: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
#splash-screen {
  margin: 0;
}
#sound{
display:flex;
flex-direction: row ;
justify-content: flex-end;
margin-bottom: 15px;
}

#my-canvas,
#gameover-screen, 
#punctuation, 
#sound{
  display: none;
}


